.App {
  text-align: center;
}
@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");

.leaflet-container {
  width: 100%;
  height: 200px;
}
.home {
  background-image: url("./img/flat-mountains.svg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
.techimg{
  width: 100px;
  height: 100px;
  object-fit: cover;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.liked {
  background-color: red;
  color: white;
}

.disliked {
  background-color: red;
  color: white;
}

.imagegallery {
  width: 100%;
}


.swiper {
  padding-top: 50px;
  padding-bottom: 80px;
}

.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}

/* Dans votre fichier CSS (ou ajoutez-la directement à votre composant React) */
.video-container {
  max-width: 100%;
  height: auto;
}

.igimg{
  width: 100%;
}

.igimg:hover{
  transform: scale(1.1);
}

.text-fun-pink:hover {
  color: #55acee;
  transition: top ease 0.5s;
  transform: scale(0.7);
  /* transform:matrix(0, 1, 1, 0, 0, 0); */
/*  */
}

/* 
.myTable{
  overflow: scroll;

} */